.div {
	background-color: #e0e0e0;
	border-style: solid;
	border-width: 1px;
	border-color: #b0b0b0;
	border-radius: 5px;
	padding: 10px;
	font-color: #e0e0e0;
	font-size: 16px;
	font-weight: 200;
	color: #556677;
	font-family: Georgia,serif;
	text-shadow: 1px 1px 0 #EEEEEE;
}
