div {
	cursor: pointer;
	text-align: center;
	padding: 1px, 3px;
	font-family: sans-serif;
	font-size: 2px;
	width: 100px;
	margin: 3px 3px 3px 3px;
	background: #cccccc;
}

#up {
	border: 1px solid;
	border-radius: 5px;
}
#down {
	border: 1px solid;
	border-radius: 5px;
}
#left {
	border: 1px solid;
	border-radius: 5px;
}
#right {
	border: 1px solid;
	border-radius: 5px;
}
